body {
  min-height: 100vh;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.colorBox,
.inputBox input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  box-shadow: 2px 1px 2px 1px rgb(0 0 0 / 30%);
  margin-bottom: 0.6em;
  font-size: 2em;
  padding: 0.25em;
  border-radius: 0.5rem;
  width: 100%;
}

.colorBox {
  height: 50%;
}

.inputBox label {
  position: absolute;
  left: -99999px;
}
