* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  width: 100%;
}

button {
  width: 33.33%;
  padding: 0.5rem;
}

button.active {
  background-color: black;
  color: white;
}

ul {
  padding: 1rem;
}

li {
  padding: 0.5rem;
}
